
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Young Serif", serif;
}


.container {
    width: 100%;
    text-align: center;
}


.header-one {
    background-color: black;
    color: white;
    padding: 25px ;
}

.header-one__title {
    font-size: 40px;
    margin-bottom: 5px;
}

.header-one__desc {
    font-size: 16px;
    letter-spacing: 5px;
}


.box {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px 0;
    flex-wrap: wrap;
}

.box div {
    width: 200px;
    background: white;
    padding: 15px;
    border: 3px solid black;
}

.box img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.box h3 {
    margin: 5px;
    font-size: 20px;
}

.box p {
    font-size: 14px;
    margin: 10px 0;
}

.box button {
    background-color: black;
    color: white;
    padding: 8px 15px;
    font-size: 15px;
}



.contact-form {
    background-color: black;
    color: white;
    padding: 50px 20;
}

.contact-form__title {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}

table {
    margin: 0 auto;
}

table td {
    padding: 10px;
    font-size: 16px;
}

.contact-form__input {
    padding: 7px;
    width: 200px;
}

.contact-form__but {
    background-color: yellow;
    padding: 10px 80px;
    border: none;
    cursor: pointer;
}
